{
  "presets": [
    "es2015",
    "react",
    "flow",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ]
  ],
  "retainLines": true,
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    "babel-plugin-styled-components",
    "transform-flow-comments"
  ]
}
